/* Variables */
:root {
  --mw-content: 1280px;
  --w-aside: 340px;
  --m-aside: calc(var(--m-default) * 2);
  --m-large: 32px;
  --m-default: 16px;
  --m-small: 8px;
  --m-xsmall: 4px;
  --p-large: 32px;
  --p-default: 16px;
  --p-small: 8px;
  --p-xsmall: 4px;
  --f-direction: row;
  --f-item-direction: row;
  --b-radius: 4px;

  --c-body: #f5f6f7;
  --c-text: #45484d;
  --c-gray: #e3e3e3;
  --c-main: #cd0d23;
  --c-secondary: #94090d;
  --c-tertiary: #ff1d23;
  --c-white: #fff;
  --c-border: #dfe1e6;
  --c-success: #088637;
  --c-warning: #ffdd57;
  --c-telegram: #039be5;
  --c-twitter: #1da1f2;

  --fz-text: 18px;
  --t-default: 0.2s;
  --t-fast: 0.1s;
  --t-scale: 1.02;

  /* CSS Vars and incompatible for Media Queries */
  --mq-xl: 1170px;
  --mq-l: 980px;
  --mq-m: 720px;
  --mq-s: 560px;
  --mq-xs: 320px;
}

@media screen and (max-width: 1170px) {
  :root {
    --mw-document: 100%;
  }
}

@media screen and (max-width: 980px) {
  :root {
    --w-aside: 100%;
    --f-direction: column;
  }
}

@media screen and (max-width: 560px) {
  :root {
    --m-aside: 0;
    --f-item-direction: column;
  }
}


/* Reset */ 
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
figure,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  border: 0;
}

hr {
  margin: var(--m-large) 0;
}

code {
  background-color: var(--c-gray);
  border-radius: var(--b-radius);
}

/* Base */ 
body {
  background-color: var(--c-body);
  color: var(--c-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  display: block;
  margin: 0 auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Utilities */
.u-center {
  margin: 0 auto;
  max-width: var(--mw-content);
  padding: 0 var(--p-default);
}

.u-underline {
  text-decoration: underline;
}

@keyframes lazyload {
  from {
    filter: blur(5px);
    opacity: 0;
  }

  to {
    filter: blur(0px);
    opacity: 1;
  }
}

.u-lazyload {
  animation-duration: 1s;
  animation-name: lazyload;
}

.u-showOnlyDesktop {
  display: none;
}
  @media screen and (min-width: 1171px) {
    .u-showOnlyDesktop {
      display: inline;
    }
  }

.u-showExceptMobile {
  display: inline;
}
  @media screen and (max-width: 560px) {
    .u-showExceptMobile {
      display: none;
    }
  }

.u-borderImage {
  border: 2px solid var(--c-white);
  border-radius: var(--b-radius);
}

.u-anchor {
  border-bottom: 2px solid var(--c-tertiary);
  color: var(--c-tertiary);
  position: relative;
  transition: ease all var(--t-default);
}
  .u-anchor:hover {
    background-color: var(--c-tertiary);
    color: var(--c-white);
  }

.u-youtube {
  margin: 0 auto var(--m-default);
  max-width: 700px;
}

.u-twitter twitter-widget {
  margin: 0 auto var(--m-default);
}

.u-SocialBlock {
  align-items: center;
  background-color: rgba(3, 155, 229, 0.1);
  border-top: 3px solid var(--c-text);
  border-bottom: 3px solid var(--c-text);
  display: flex;
  justify-content: left;
  margin: var(--m-large) 0;
  padding: var(--p-small);
  transition: ease-in all var(--t-fast);
}
  .u-SocialBlock--telegram {
    border-color: var(--c-telegram);
  }
  .u-SocialBlock--twitter {
    border-color: var(--c-twitter);
  }
  .u-SocialBlock:hover {
    background-color: rgba(3, 155, 229, 0.2);
  }
  .u-SocialBlock-icon {
    flex-basis: 50px;
    flex-shrink: 0;
  }
    .u-SocialBlock-icon svg {
      height: 100%;
      width: 100%;
    }
  .u-SocialBlock-message {
    color: var(--c-text);
    font-size: 16px;
    line-height: 24px;
    padding-left: var(--p-default);
  }
  @media screen and (min-width: 561px) {
    .u-SocialBlock {
      padding: var(--p-default);
    }
      .u-SocialBlock-icon {
        flex-basis: 70px;
      }
      .u-SocialBlock-message {
        font-size: 18px;
        line-height: 28px;
      }
  }

/* Header */ 
.st-Header {
  background-color: var(--c-white);
  padding: 15px 0;
  position: relative;
  z-index: 11;
} 
  .st-Header .u-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .st-Header-logo {
    width: 320px;
  }
  .st-Header-social {
    list-style: none;
    margin-top: var(--m-small);
  }
    .st-Header-social li {
      display: inline-block;
      padding-left: var(--p-small);
    }
  @media screen and (max-width: 720px) {
    .st-Header {
      padding: 10px 0;
    }
    .st-Header-logo {
      width: 250px;
    }
  }
  @media screen and (max-width: 560px) {
    .st-Header-logo {
      width: 200px;
    }
  }

/* Nav */
.st-Nav {
  background-color: var(--c-main);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
} 
  .st-Nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .st-Nav ul li + li:before {
    color: var(--c-white);
    content: "|";
    margin: 0 var(--p-small);
  }
  .st-Nav ul li a {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    color: var(--c-white);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 0;
    text-transform: uppercase;
    transition: ease-in all var(--t-fast);
  }
    .st-Nav ul li a:hover {
      border-color: var(--c-secondary);
      cursor: pointer;
    }
  @media screen and (max-width: 560px) {
    .st-Nav .u-center {
      padding: 0;
    }
  }
  @media screen and (min-width: 561px) {
    .st-Nav ul {
      justify-content: start;
    }
  }
  @media screen and (min-width: 981px) {
    .st-Nav {
      margin-bottom: var(--m-small);
      text-align: initial;
    }
  }

/* Content */ 
.st-Content {
  display: flex;
  flex-direction: var(--f-direction);
}

/* Aside */
.st-Aside {
  flex-basis: var(--w-aside);
  flex-shrink: 0;
  margin-bottom: var(--m-default);
  padding-top: var(--p-small);
  position: relative;
}
  .st-Aside-title {
    border-bottom: 3px solid var(--c-main);
    font-size: var(--fz-text);
    font-weight: 600;
    margin-bottom: var(--m-default);
    padding-bottom: var(--p-xsmall);
    position: relative;
  }
    .st-Aside-title small {
      bottom: var(--m-xsmall);
      position: absolute;
      text-decoration: none;
      right: 0;
    }
      .st-Aside-title small a {
        border-bottom: none;
      }  
  @media screen and (max-width: 560px) {
    .st-Aside-title {
      font-size: 20px;
    }
  }
  @media screen and (min-width: 981px) {
    .st-Aside {
      margin-left: var(--m-aside);
    }
  }
  .st-Aside-sticky {
    background-color: var(--c-body);
  }
    @media screen and (min-width: 981px) {
      .st-Aside-sticky {
        padding-top: var(--p-small);
        position: sticky;
        top: -1px;
        z-index: 10;
      }
    }
  .st-Aside-pblc {
    background-color: var(--c-gray);
    border-radius: 0 var(--b-radius) var(--b-radius) var(--b-radius);
    margin-top: var(--m-large);
    padding: var(--p-small);
    position: relative;
    text-align: center;
  }
  .st-Aside-pblc:before {
    background-color: var(--c-gray);
    border-radius: var(--b-radius) var(--b-radius) 0 0;
    color: var(--c-text);
    content: "Publicidad";
    font-size: 12px;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    top: -19px;
  }

/* Footer */ 
.st-Footer {
  color: var(--c-white);
  font-weight: 500;
  text-align: center;
}
  .st-Footer-menu {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
    .st-Footer-menuColumn h4 {
      border-bottom: 2px solid var(--c-white);
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: var(--m-small);
      padding-bottom: 2px;
    }
  .st-Footer-menuList {
    list-style: none;
  }
    .st-Footer-menuList li + li {
      margin-top: var(--m-small);
    }
    .st-Footer-menuList li a {
      color: var(--c-white);
      /*opacity: 0.8;*/
    }
      .st-Footer-menuList li a:hover {
        opacity: 1;
        /* text-decoration: underline; */
      }
  .st-Footer-social {
    display: inline-block;
    list-style: none;
    margin-bottom: var(--m-large);
  }
    .st-Footer-social > li {
      display: inline-block;
    }
    .st-Footer-social > li a:hover {
      border-bottom: none;
      opacity: 0.8;
    }
    .st-Footer-social > li + li {
      margin-left: var(--m-small);
    }
  .st-Footer-small {
    font-size: 12px;
    margin-top: var(--m-default);
  }
  .st-Footer-main {
    background-color: var(--c-main);
    padding: 20px 0 25px;
  }
  .st-Footer-secondary {
    background-color: var(--c-secondary);
    padding: 30px 0 60px;
  }
  .st-Footer-logo {
    margin: 0 auto 30px;
    width: 100px;
  }

/* Feed */
.st-Feed {
  width: 100%;
  }
  .st-Feed-title {
    display: inline-block;
    font-weight: 600;
    margin-bottom: calc(var(--m-default) * 1.5);
    padding-top: var(--m-default);
    position: relative;
  }
    .st-Feed-title:after {
      background-color: var(--c-main);
      bottom: -10px;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    .st-Feed-title span {
      background-color: var(--c-main);
      border: 5px solid var(--c-main);
      border-bottom: 0;
      color: var(--c-white);
      padding: 1px 5px 5px;
    }
    @media screen and (max-width: 560px) {
      .st-Feed-title {
        font-size: 22px;
      }
    }

/* Feed 404 */
.st-Feed.is-not-found h1 {
  display: inline-block;
  font-weight: 600;
  margin-bottom: calc(var(--m-default) * 1.5);
  padding-top: var(--m-default);
}

.st-Claim {
  font-size: var(--fz-text);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: var(--m-default);
}

/* Item */
.st-Item {
  background-color: var(--c-white);
  border-radius: var(--b-radius);
  border: 1px solid var(--c-border);
  display: flex;
  flex-shrink: 0;
  flex-direction: var(--f-item-direction);
  margin-bottom: var(--m-default);
  padding: var(--p-default);
  transition: ease-in box-shadow var(--t-default);
}
  .st-Item-image {
    flex-shrink: 0;
    margin-right: var(--m-default);
    width: 300px;
  }
  @media screen and (max-width: 560px) {
    .st-Item-image {
      margin-bottom: 5px;
      width: 100%;
    }
  }
  .st-Item-title {
    font-size: 24px;
    font-weight: 600;
  }
    .st-Item-title a {
      color: var(--c-main);
      display: block;
      margin-left: calc(var(--m-small) * -1);
      padding: 5px var(--p-small);
      position: relative;
      transition: ease all var(--t-default);
      z-index: 1;
    }
  .st-Item-meta {
    align-items: center;
    color: var(--c-secondary);
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: var(--m-small);
    margin-top: var(--m-small);
  }
    .st-Item-meta > * {
      margin-right: var(--m-xsmall);
    }
    .st-Item-meta > * + * {
      margin-left: var(--m-xsmall);
    }
    .st-Item-meta .u-showExceptMobile {
      margin: 0;
    }
    @media screen and (max-width: 560px) {
      .st-Item-meta .st-Author {
        flex-basis: 100%;
        margin: var(--m-small) 0 0;
      }
    }
  .st-Item-description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    line-height: 24px;
    margin-bottom: var(--m-default);
    overflow: hidden;
    text-overflow: ellipsis;
  }
    .st-Item-description a {
      color: var(--c-text);
    }
  .st-Item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
    .st-Item:hover .st-Item-title a {
      color: var(--c-tertiary);
    }

/* ItemAd */
.st-ItemAd {
  margin-bottom: var(--m-default);
}

/* ExternalItem */
.st-ExternalItem {
  background-color: var(--c-white);
  border-radius: var(--b-radius);
  border: 1px solid var(--c-border);
  cursor: pointer;
  margin-bottom: var(--m-default);
  position: relative;
  transition: ease-in box-shadow var(--t-default);
}
  .st-ExternalItem a {
    display: flex;
    flex-shrink: 0;
  }
  .st-ExternalItem-image {
    flex-shrink: 0;
    position: relative;
    width: 200px;
  }
    @media screen and (max-width: 560px) {
      .st-ExternalItem-image {
        overflow: hidden;
        width: 120px;
      }
      .st-ExternalItem-image img {
        height: 150px;
        left: -65px;
        position: absolute;
        width: 250px; 
      }
    }
  .st-ExternalItem-ad {
    background-color: var(--c-main);
    bottom: 0;
    color: var(--c-white);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 2px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  .st-ExternalItem-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--p-small) var(--p-default);
  }
    @media screen and (max-width: 560px) {
      .st-ExternalItem-content {
        padding: var(--p-small);
      }
    }
  .st-ExternalItem-title {
    color: var(--c-main);
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: var(--m-xsmall);
    padding-right: var(--p-default);
    position: relative;
    transition: ease all var(--t-default);
    z-index: 1;
  }
  .st-ExternalItem-description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: var(--c-text);
    display: -webkit-box;
    font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .st-ExternalItem:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
    .st-ExternalItem:hover .st-ExternalItem-title {
      color: var(--c-tertiary);
    }
  .st-ExternalItem-externalLink {
    opacity: 0.7;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 15px;
  }

/* Tags */
.st-Tags {
  line-height: normal !important;
  list-style: none;
  padding-left: 0 !important;
}
  .st-Tags-item {
    background-color: #ddd;
    border-radius: var(--b-radius);
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: var(--m-small);
    margin-right: var(--m-xsmall);
  }
    .st-Tags-item a, 
    .st-Tags-item span {
      color: var(--c-text);
      display: block;
      max-width: 250px;
      overflow: hidden;
      padding: 7px 10px;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
    }

/* Latest Posts */
.st-LatestPosts {}
  .st-LatestPosts-item {
    list-style: none;
    margin-bottom: var(--m-small);
    padding: var(--p-xsmall);
    transition: ease background-color var(--t-default);
  }
    @media screen and (max-width: 560px) {
      .st-LatestPosts-item {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .st-LatestPosts-item:hover {
      background-color: var(--c-white);
      cursor: pointer;
    }
    .st-LatestPosts-item a {
      align-items: center;
      color: var(--c-text);
      display: flex;
    }
    .st-LatestPosts-item img {
      flex-basis: 100px;
      flex-shrink: 0;
      margin-right: var(--m-small);
      width: 100px;
    }
      .st-LatestPosts-itemTitle {
        font-weight: 500;
      }
      .st-LatestPosts-itemDate {
        color: var(--c-text);
        font-size: 13px;
        margin-top: 5px;
      }

/* Next Releases */
.st-NextReleases {
  margin-top: var(--m-large);
}
  .st-NextReleases-list {
    display: flex;
    flex-wrap: wrap;
  }
  .st-NextReleases-item {
    align-items: center;
    flex-basis: 50%;
    list-style: none;
    margin-bottom: var(--m-default);
    padding: var(--p-xsmall);
    text-align: center;
    transition: ease background-color var(--t-default);
  }
    .st-NextReleases-item:hover {
      background-color: var(--c-white);
      cursor: pointer;
    }
    .st-NextReleases-item:nth-child(odd) {
      padding-right: calc(var(--m-small) / 2);
    }
    .st-NextReleases-item:nth-child(even) {
      padding-left: calc(var(--m-small) / 2);
    }
    .st-NextReleases-item img {
      border-radius: var(--b-radius);
    }
    .st-NextReleases-itemName {
      font-weight: 500;
      margin: 2px 0;
    }
    .st-NextReleases-itemDate {
      font-size: 13px;
    }
    .st-NextReleases-itemAnchor {
      color: var(--c-text);
      text-decoration: none;
    }

/* Site Tags */
.st-SiteTags {
  margin-top: var(--m-default);
}
  .st-SiteTags .st-Tags {
    text-align: center;
  }

/* Article */
.st-Article {
  max-width: 876px;
  padding: var(--m-default) 0;
}
  .st-Article-header {
    margin-bottom: var(--m-default);
  }
    .st-Article .st-Article-headerImage {
      max-width: 100%;
    }
    .st-Article-headerTitle {
      color: var(--c-main);
      font-size: 30px;
      margin: var(--m-default) 0 var(--m-small);
    }
    .st-Article-headerMeta {
      align-items: center;
      color: var(--c-secondary);
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      margin-bottom: var(--m-small);
    }
      .st-Article-headerMeta > * {
        margin-right: var(--m-small);
      }
      .st-Article-headerMeta > * + * {
        margin-left: var(--m-small);
      }
      .st-Article-headerMeta .u-showExceptMobile {
        margin: 0;
      }
      @media screen and (max-width: 560px) {
        .st-Article-headerMeta .st-Author {
          flex-basis: 100%;
          margin: var(--m-xsmall) 0 0;
        }
      }
    .st-Article-headerDescription {
      color: var(--c-text);
      margin-bottom: var(--m-default);
      opacity: 0.85;
    }
    @media screen and (max-width: 980px) {
      .st-Article {
        padding-top: 0;
      }
      .st-Article .st-Article-headerImage {
        border: none;
        border-radius: 0;
        margin: 0 calc(var(--m-default) * -1);
        max-width: none;
        width: calc(100% + var(--m-default) * 2);
      }
      .st-Article-headerTitle {
        font-size: 26px;
      }
    }
  .st-Article p {
    font-size: 18px;
    margin-bottom: var(--m-default);
    line-height: 150%;
  }
  .st-Article h2 {
    text-decoration: underline;
  }
  .st-Article h2,
  .st-Article h3 {
    color: var(--c-secondary);
    margin-top: var(--m-large);
    margin-bottom: var(--m-default);
  }
  .st-Article h4 {
    font-size: 18px;
    margin-bottom: var(--m-small);
  }

  .st-Article ul, 
  .st-Article ol {
    font-size: var(--fz-text);
    line-height: 26px;
    list-style-position: outside;
    margin-bottom: var(--m-default);
    padding-left: var(--m-large);
  }
    .st-Article ul li,
    .st-Article ol li  {
      margin-bottom: var(--m-xsmall);
    }
    .st-Article ul ul {
      margin-bottom: 0;
    }
  .st-Article img {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }
    .st-Article img + p {
      margin-top: var(--m-default);
    }
  .st-Article table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin: 0 auto var(--m-default);
    max-width: 700px;
    overflow: auto;
    width: 100%;
  }
    .st-Article table th {
      font-weight: 600;
    }
    .st-Article table tr {
      border-top: 1px solid var(--c-gray);
    }
    .st-Article table tr:nth-child(1n) {
      background-color: var(--c-white);
    }
    .st-Article table tr:nth-child(2n) {
      background-color: #ebedf0;
    }
    .st-Article table th,
    .st-Article table td {
      padding: var(--m-small);
      border: 1px solid #dfe2e5;
    }
  .st-Article-contentSource {
    margin-top: var(--m-large);
  }
  .st-Article blockquote {
    background-color: var(--c-gray);
    border-left: .25em solid var(--c-main);
    border-radius: var(--b-radius);
    margin-bottom: var(--m-default);
    padding: var(--p-small) var(--p-default);
  }
    .st-Article blockquote p {
      margin-bottom: 0;
    }
  
.st-Disqus {
  border-top: 5px solid var(--c-gray);
  margin-bottom: var(--m-default);
  margin-top: var(--m-large);
  padding-top: calc(var(--p-default) * 1.5);
}
  p.st-Disqus-invite {
    background-color: var(--c-gray);
    border-radius: 0 0 var(--b-radius) var(--b-radius);
    border-top: 3px solid var(--c-main);
    padding: var(--p-default);
  }
  p.st-Disqus-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: var(--m-small);
  }
  .st-Disqus-comments {
    background-color: var(--c-white);
    border: 1px solid var(--c-border);
    min-height: 50px;
    padding: var(--p-default);
  }


.st-Share {
  margin-bottom: var(--m-default);
}
  .st-Share-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: var(--p-xsmall);
  }
  .st-Share-content {
    display: flex;
  }
    .st-Share-content a {
      align-items: center;
      background: var(--bgc-link);
      border-radius: 0;
      color: var(--c-white);
      display: flex;
      font-weight: 500;
      justify-content: center;
      margin: 0;
      padding: var(--p-small) 0;
      text-align: center;
      width: 50%;
    }
    .st-Share-content a:hover {
      opacity: 0.8;
    }
  @media screen and (max-width: 980px) {
    .st-Share {
      align-items: center;
      background-color: var(--c-gray);
      bottom: 0;
      display: flex;
      left: 0;
      justify-content: space-between;
      margin: 0;
      position: fixed;
      top: unset;
      width: 100%;
      z-index: 10;
    }
      .st-Share-title {
        font-size: 16px;
        line-height: 16px;
        padding-bottom: 0;
        padding-left: var(--p-default);
      }
      .st-Share-content a {
        padding: var(--p-small);
      }
  }

.st-TableOfContents {
  margin-bottom: var(--m-large);
}
  .st-TableOfContents-title {
    border-bottom: 3px solid var(--c-main);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: var(--p-xsmall);
  }
  .st-TableOfContents ul {
    list-style: none;
    padding: 0;
  }
  .st-TableOfContents-content {
    background-color: var(--c-gray);
    border-radius: 0 0 var(--b-radius) var(--b-radius);
    padding: var(--p-small);
  }
  .st-TableOfContents a {
    align-items: center;
    color: var(--c-tertiary);
    cursor: pointer;
    display: flex;
    padding: 6px var(--p-small);
    position: relative;
    text-decoration: none;
    transition: ease all var(--t-default);
  }
    .st-TableOfContents a:before {
      border-radius: 5px;
      color: var(--c-tertiary);
      content: "→ ";
      display: inline-block;
      font-weight: 700;
      left: 0;
      margin-right: 5px;
      text-align: right;
    }
    .st-TableOfContents a:hover {
      background-color: var(--c-tertiary);
      border-radius: var(--b-radius);
      color: var(--c-white);
    }
    .st-TableOfContents a:hover:before {
      color: var(--c-white);
    }

/* Featured Posts */
.st-FeaturedPosts {
  margin-bottom: var(--m-large);
} 
  .st-FeaturedPosts-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: var(--m-small);
  }
  .st-FeaturedPosts-list {
    list-style: none;
  }
  .st-FeaturedPosts-listItem + .st-FeaturedPosts-listItem {
    margin-top: var(--m-small);
  }
  .st-FeaturedPosts-listItem a, aside small a {
    background-color: var(--c-main);
    border: 2px solid var(--c-secondary);
    border-radius: var(--b-radius);
    color: var(--c-white);
    display: block;
    padding: var(--p-small);
  }
    .st-FeaturedPosts-listItem a:hover {
      background-color: var(--c-secondary);
      transition: var(--t-default);
    }

/* Availability */
.st-Availability {
  border-radius: var(--b-radius);
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: calc(var(--p-small) / 2) var(--p-small);
  text-transform: uppercase;
}
  .st-Availability.is-online {
    background-color: var(--c-success);
    color: var(--c-white);
  }
  .st-Availability.is-offline {
    background-color: var(--c-warning);
    color: var(--c-text);
  }
  
/* Pagination */
.st-Pagination {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: var(--m-large) 0;
}
  .st-Pagination-button {
    background-color: var(--c-white);
    border: 2px solid var(--c-main);
    border-radius: var(--b-radius);
    color: var(--c-main);
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: var(--p-default) var(--p-xsmall);
  }
    @media screen and (min-width: 561px) {
      .st-Pagination-button {
        font-size: 16px;
        padding: var(--p-default);
      }
    }
    @media screen and (max-width: 320px) {
      .st-Pagination-button {
        font-size: 12px;
      }
    }
    .st-Pagination-button:hover {
      background-color: var(--c-main);
      color: var(--c-white);
      transition: var(--t-default);
    }

.st-Pagination span {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 3px;
}

.st-Pagination .is-current {
  pointer-events: none;
}

.st-Pagination .is-current span {
  width: 25px;
  border-radius: 5px;
}

.st-Pagination i {
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}

.st-Pagination i.is-right {
  transform: rotate(-45deg);
}

/* Newsletter */
.st-Newsletter {
  background-color: var(--c-white);
  border: 3px solid var(--c-main);
  border-radius: var(--b-radius);
  margin: var(--m-small) 0 var(--m-large);
  padding: var(--p-default);
  text-align: center;
  top: var(--m-default);
}
  .st-Newsletter-title {
    color: var(--c-main);
    margin-bottom: var(--m-default);
  }
  .st-Newsletter-subtitle {
    font-size: 15px;
    margin-bottom: var(--m-default);
  }
  .st-Newsletter-input {
    border: 1px solid var(--c-gray);
    border-radius: var(--b-radius);
    font-size: 16px;
    padding: var(--p-small);
    width: 100%;
  }
    .st-Newsletter-input:focus {
      border-color: var(--c-main);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      outline: none;
    }
  .st-Newsletter-button {
    background-color: var(--c-main);
    border-radius: var(--b-radius);
    border: 2px solid var(--c-secondary);
    color: var(--c-white);
    cursor: pointer;
    font-size: 17px;
    margin-top: var(--m-default);
    padding: var(--p-small);
    transition: ease all var(--t-default);
    width: 100%;
  }
    .st-Newsletter-button:hover {
      background-color: var(--c-secondary);
    }

/*jq link ver más*/
.st-Aside .u-anchor{color: var(--c-white);}
