<div class="st-FeaturedPosts">
  <h3 class="st-FeaturedPosts-title">Información Stadia 💯</h3>
  <ul class="st-FeaturedPosts-list">
    <li class="st-FeaturedPosts-listItem">
      <a href="/que-es-y-como-funciona-google-stadia/">Qué es y cómo funciona Stadia</a>
    </li>
    <li class="st-FeaturedPosts-listItem">
      <a href="/preguntas-frecuentes-sobre-stadia/">Preguntas frecuentes sobre Stadia</a>
    </li>
    <li class="st-FeaturedPosts-listItem">
      <a href="/el-mando-oficial-de-stadia-y-todo-lo-que-debes-saber">El mando oficial de Stadia y todo lo que debes saber</a>
    </li>
  </ul>
</div>