<section class="st-Newsletter">
  <h3 class="st-Newsletter-title">¡Suscríbete a nuestra newsletter!</h3>
  <p class="st-Newsletter-subtitle">
    Te mantendremos informado de todas las novedades que lleguen a Stadia 😉
  </p>
  <div id="mc_embed_signup">
    <form action="https://stadianeros.us8.list-manage.com/subscribe/post?u=7ea85dc2098c3c9c19fc3688a&amp;id=a901fdbeb2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="st-Newsletter-input" placeholder="Correo electrónico" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7ea85dc2098c3c9c19fc3688a_a901fdbeb2" tabindex="-1" value=""></div>
        <div class="clear">
          <input type="submit" value="¡Suscribirme!" name="subscribe" id="mc-embedded-subscribe" class="st-Newsletter-button">
        </div>
      </div>
    </form>
  </div>
</section>