<div class="st-ExternalItem">
  <a href="https://www.youtube.com/watch?v=XSY4XJAnKDQ" target="_blank" rel="nofollow noopener">
    <div class="st-ExternalItem-image">
      <img alt="esStadia" data-src="/esstadia-diferencias-subscripcion-pro-vs-base.png" class="lazyload u-lazyload" loading="lazy" />
      <div class="st-ExternalItem-ad">
        Patrocinado
      </div>
    </div>
    <div class="st-ExternalItem-content">
      <h2 class="st-ExternalItem-title">
        Diferencias Subscripción PRO vs BASE
      </h2>
      <div class="st-ExternalItem-description">
        Canal de youtube Exclusivo de Stadia en el que te explica las diferencias entre Stadia Base y Pro.
      </div>
    </div>
    <img class="st-ExternalItem-externalLink" src="/icon-external-link.png" alt="Link externo" width="15" />
  </a>
</div>
